<div class="meter">
  <span [style.width.%]="currentQuestion/totalQuestions*100"></span>
</div>
<div class="question" [class]="currentQuestion%2 ? 'first-in' : 'first-out'" *ngIf="firstQuestion">
  <div class="countdown" *ngIf="(currentQuestion%2)">
    <biit-countdown-timer [run]="currentQuestion"></biit-countdown-timer>
  </div>
  <span class="question-text">
    <p>{{ firstQuestion.label }}</p>
  </span>
</div>
<div class="question" [class]="currentQuestion%2 ? 'second-out' : 'second-in'" *ngIf="secondQuestion">
  <div class="countdown" *ngIf="!(currentQuestion%2)">
    <biit-countdown-timer [run]="currentQuestion"></biit-countdown-timer>
  </div>
  <span class="question-text">
    <p>{{ secondQuestion.label }}</p>
  </span>
</div>

<div id="answers" class="answer" *ngIf="firstQuestion || secondQuestion">
  <div *ngFor="let answer of currentAnswers"
       [ngSwitch]="+answer.name"
       class="button" (click)="nextQuestion(answer)">
    <biit-icon id="no" *ngSwitchCase="-1" [name]="'cross_wide'" [pathStyle]="{fill:'#262626'}"></biit-icon>
    <biit-icon id="yes" *ngSwitchCase="1" [class.hidden]="currentAnswers.length > 2"
               [name]="'thick'" [pathStyle]="{fill:'#f20d5e'}"></biit-icon>
    <p *ngSwitchCase="1" [class.hidden]="currentAnswers.length === 2"><span id="value1">☹️</span></p>
    <p *ngSwitchCase="2">><span id="value2">🫤</span></p>
    <p *ngSwitchCase="3">><span id="value3">😐</span></p>
    <p *ngSwitchCase="4">><span id="value4">🙂</span></p>
    <p *ngSwitchCase="5">><span id="value5">😄</span></p>
  </div>
</div>
